.social-bar{
    position: fixed;
    right: 0;
    top: 10%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon{
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    transition: all .5s;
}

